/* typography */
@import url();

/*variables*/
:root {
    --primaryBrown: #53270E;
    --primaryRed: #9A3818;
    --primaryOrange: #BE531F;
    --secondaryOrange: #F38939;
    --cream: #FDF6EC;
    --Gray: #EDEDED;
    --heading: #191818;
    --gråHeading: #BDBDBD;
}

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general styling og typography*/
body {
    font-family: 'kanit';
}

h1,
h2,
h3,
h4,
p {
    font-family: 'open Sans';
    line-height: 150%;
    max-width: 70ch;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

p {
    font-size: 24px;
}

/* nav*/

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5d494161;
    padding: 2.5rem 0px;

}

.nav a {
    text-decoration: none;
    color: var(--cream);
}

.nav section ul {
    display: flex;
}

.nav section ul li {
    padding: 1rem;
    text-decoration: none;
    list-style: none;

}

footer {
    /*photo-1649305325639-a0828151a0d0 */

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: url(photo-1649305325639-a0828151a0d0.png);
}



/* Pensionsophold */ 

.opholdspakker{
    background-color: var(--cream);
    display: flex;
}

.opholdspakker div{
    background-color: white;
    margin: 2rem;
    padding: 2rem;
}
