/* typography */
@import url();

/*variables*/
:root {
    --primaryBrown: #53270E;
    --primaryRed: #9A3818;
    --primaryOrange: #BE531F;
    --secondaryOrange: #F38939;
    --cream: #FDF6EC;
    --Gray: #EDEDED;
    --heading: #191818;
    --gråHeading: #BDBDBD;
}

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general styling og typography*/
body {
    font-family: 'kanit';
}

h1,
h2,
h3,
h4,
p {
    font-family: 'open Sans';
    line-height: 150%;
    max-width: 70ch;
}

h1 {
    font-family: Kanit;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
}


h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 28px;
}

p {
    font-size: 20px;
}

.opholdspakker p {
    font-size: 24px;
}

/* nav*/

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5d494161;
    padding: 2.5rem 0px;

}

.nav a {
    text-decoration: none;
    color: var(--cream);
}

.nav section ul {
    display: flex;
}

.nav section ul li {
    padding: 1rem;
    text-decoration: none;
    list-style: none;

}

footer {
    width: 100%;
    height: 100%;

    background-image: url('../images/Forside/footer.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

footer section {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

.footerh4 {
    font-weight: 500;
    font-size: 25px;
}

footer div p {
    font-size: 16px;
}

footer div,
footer a {
    color: var(--cream);
}

footer div p:nth-child(2) {
    margin-top: 2rem;
}

footer div p {
    margin-top: 1rem;
}

/* Pensionsophold */
.heroPension {
    width: 100%;
    text-align: center;
    height: 80vh;
    display: flex;

}

.heroPension img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    height: 100%;
}

.heroPension h1,
.heroPension p {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);

}

.heroPension p {
    text-align: center;
}

.heroPension h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.dagsprogram {}

.opholdspakker {
    background-color: var(--cream);
    display: flex;
    justify-content: center;




}

.opholdspakker div {
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    width: 552px;
}

.opholdspakker button {
    color: white;
    background-color: var(--primaryBrown);
    border-radius: 10px;
    padding: 1rem 2rem 1rem 2rem;
    border-style: none;


}



.opholdspakker ul {
    padding-left: 2rem;
}

.opholdspakker li {
    margin-top: 1rem;
}

.praktiskInfo {
    display: flex;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--cream);
    padding: 1rem;
    align-items: center;
}

.praktiskInfo svg {
    color: var(--primaryRed);
    margin-right: 1rem;
}

/* Specifik hund */

.baggrundHund {
    background-color: var(--cream);
}


.specifikHund {
    display: grid;
    margin: 0rem 10rem 0rem 10rem;
    grid-template-columns: 2fr 1fr;
    border-radius: 10px;
}


.tilbage {
    transform: translateY(100%);
}

.specifikHund img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.specifikHund li {
    list-style: none;
    padding: 1rem;
    justify-content: center;
}

.hundSpe {
    background-image: url('../images/Forside/mollySp.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titelAHund {
    display: flex;
    justify-content: space-between;
}


.hundprofil {
    display: grid;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
}

.hundprofil li svg {
    margin-right: 1rem;
}

.hundpris {
    text-align: right;

}


.beskrivelseHund {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0rem 10rem 2rem 10rem;
    padding: 1.5rem;
    background-color: white;
    align-items: baseline;


}

.adopProces {
    padding: 2rem;
}

.adopProces li {
    list-style: none;
    font-size: 22px;
}

.adopProces p {
    padding-left: 2rem;
}

.adopProces svg {
    border-radius: 50px;
    background-color: var(--primaryRed);
    color: white;
    width: 30px;
    height: 30px;
    align-items: end;
}

.tipsAdo {
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin: 0rem 10rem 10rem 10rem;
    padding: 2rem;
}

.tipsAdo svg {
    padding-right: 2rem;
    width: 47px;
    height: 47px;
}

.specifikHundTipsOgTricks {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem;

}