/* typography */
@import url();

/*variables*/
:root {
    --primaryBrown: #53270E;
    --primaryRed: #9A3818;
    --primaryOrange: #BE531F;
    --secondaryOrange: #F38939;
    --cream: #FDF6EC;
    --Gray: #EDEDED;
    --heading: #191818;
    --gråHeading: #BDBDBD;
}

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general styling og typography*/
body {
    font-family: 'kanit';
}

h1,
h2,
h3,
h4,
p {
    font-family: 'open Sans';
    line-height: 150%;
    max-width: 70ch;
}

h1 {
    font-family: Kanit;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
}


h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

p {
    font-size: 24px;
}

.opholdspakker p {
    font-size: 24px;
}

/* nav*/

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5d494161;
    padding: 2.5rem 0px;

}

.nav a {
    text-decoration: none;
    color: var(--cream);
}

.nav section ul {
    display: flex;
}

.nav section ul li {
    padding: 1rem;
    text-decoration: none;
    list-style: none;

}

footer {
    width: 100%;
    height: 100%;

    background-image: url('../images/Forside/footer.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

footer section {
    display: flex;
    justify-content: space-evenly;
}

footer div,
footer a {
    color: var(--cream);
}

footer div p:nth-child(2) {
    margin-top: 2rem;
}

footer div p {
    margin-top: 1rem;
}

/* Pensionsophold */
.heroPension {
    width: 100%;
    text-align: center;
    height: 80vh;

}

.heroPension img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    height: 100%;
}

.heroPension h1,
.heroPension p {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);

}

.heroPension h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.dagsprogram {}

.opholdspakker {
    background-color: var(--cream);
    display: flex;
    justify-content: center;






}

.opholdspakker div {
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    width: 552px;


}

.opholdspakker button {
    color: white;
    background-color: var(--primaryBrown);
    border-radius: 10px;
    padding: 1rem 2rem 1rem 2rem;
    border-style: none;

}

.opholdspakker ul {
    padding-left: 2rem;
}

.praktiskInfo {
    display: flex;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--cream);
    padding: 1rem;
    align-items: center;
}

.praktiskInfo svg {
    color: var(--primaryRed);
    margin-right: 1rem;
}